/* using IDs to style because we want to make sure that there is no interference with existing styles on he page. maybe overkill */

#amazon_resist_button {
  height: 30px;
  width: 100%;
  border-radius: 15px;
  /*background-color: #44AF69;*/
  background-color: #63c384;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  margin-bottom: 8px;
  border: none;
}
#amazon_resist_button:hover {
  background-color: #44AF69;
}

#successfully-resisted-popup {
  position: absolute;
  width: 50%;
  max-width: 500px;
  background-color: #ffffff;
  z-index: 999;
  top: 10%;
  left: 50%;
  margin-left: -250px;
  height: 50%;
  padding: 20px;
  border: 10px solid rgb(99, 195, 132);
  box-shadow: 0 2px 10px 0 rgb(213 217 217);
  display: none;
}

#successfully-resisted-popup #successfully-resisted-message {
  text-align: center;
}

#successfully-resisted-popup #successfully-resisted-title {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}

#successfully-resisted-popup #successfully-resisted-image {
  height: 140px;
  margin: auto;
  display: block;
}
#successfully-resisted-popup #successfully-resisted-img-attribution a {
  color: #cccccc;
  font-size: 0.7rem;
  text-decoration: underline;
  text-align: center;
  display: block;
}
#successfully-resisted-close-button {
  border: none;
  width: 100px;
  padding: 10px;
  background-color: #FFD814;
  cursor: pointer;
}
#successfully-resisted-close-button:hover {
  background-color: #F7CA00;
}
#successfully-resisted-popup .resist-close-button-container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  /* TODO: amazon is not using responsive css, but rather some user agent header or something to render different pages. */
  #amazon_resist_button {
    border-radius: 0.8rem;
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem 1.2rem 1.7rem;
    height: 4.7rem;
  }
  #successfully-resisted-popup {
    position: fixed;
    width: 80%;
    margin-left: calc(80vw / 2 * -1);
  }
  #successfully-resisted-popup #successfully-resisted-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  #successfully-resisted-popup #successfully-resisted-message {
    font-size: 1.2rem;
  }
  #successfully-resisted-popup #successfully-resisted-img-attribution a {
    font-size: 0.9rem;
  }
}
